.task__buttons{
    padding: 0px 585px 0px 45px;
    grid-column-start: 2;
    width: max-content;
    border-radius: 10px;
}
.task {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    padding: 15px 25px;
    margin: 20px;
    background-color: lightgray;
    
}
.task__checkboxes {
    white-space: break-spaces;
}
.task__description {
    grid-column-start: 1;
    grid-column-end: 2;
    word-wrap: break-word;
}
.task__head {
    padding: 0px 25px;
}
